registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/dist
electron_mirror=https://npmmirror.com/mirrors/electron/
puppeteer_download_host=https://npmmirror.com/mirrors/chromium-browser-snapshots/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
sharp_binary_host=https://npmmirror.com/mirrors/sharp/
canvas_binary_host=https://npmmirror.com/mirrors/canvas/